{% comment %} {% include 'nav-bar.html' %} {% endcomment %}
{% include 'main.html' %}
<h1>Hello This is Projects Page</h1>
<hr>

{% comment %} <ol>
    {% for item in project  %}
    <li><a href={% url 'projectPK' item.id %}>{{ item.title }}</a></li> 
    <p>Current Status : {{item.description}} </p>
    <p>Votes : {{ item.vote_total }}</p>
    <p>Ratio : {{ item.vote_ratio }}%</p>
    <p>Create Date : {{ item.create_date }}</p>
    <hr>
    {% empty %}
    <p>Nothing is Here 🫣</p>
    {% endfor %}
</ol> {% endcomment %}

<script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/hjbsbdhw.json"
    trigger="hover"
    style="left:650px;width:150px;height:150px">
</lord-icon>


<hr>
<br>
<table>
    <tr>
        <th>Title</th>
        <th>Votes</th>
        <th>Ratio</th>
        <th>Date</th>
        <th>View<th>
        <th>Edit</th>
    </tr>
    {% for item in project  %}
    <tr>
        <td>{{ item.title }}</td>
        <td>{{item.vote_total}}</td>
        <td>{{item.vote_ratio}}%</td>
        <td>{{item.create_date}}</td>
        <td><a href={% url 'projectPK' item.id %}>Link</a></td>
        <td><a href={% url 'delete-project' item.id %}>Delete</a></td>
        <td><a href={% url 'update-project' item.id %}>Edit</a></td>
        {% endfor %}
    </tr>
</table>
