{% extends 'main.html' %}




{% block content  %}
<script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/ckatldkn.json"
    trigger="hover"
    style="left:650px;width:150px;height:150px">
</lord-icon>


<h1>{{ Key.title }}</h1>
<hr>
<br>
<center><img src={{Key.fearured_img.url}}
<br>
<br>
<p>{{ Key.description }}</p>
<hr>
{% for tag in Key.tags.all  %}
{% comment %} {% for tag in tags %} {% endcomment %}
<spam style="border:2px solid grey; padding: 2px;">{{tag}}</spam>
{% endfor %}

{% endblock content %}
