{% load static %}
{% comment %} <img src={% static 'images/logo.svg' %}> {% endcomment %}
{% comment %} <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/drvsrrac.json"
    trigger="hover"
    colors="primary:#3a3347,secondary:#ebe6ef,tertiary:#b26836,quaternary:#2ca58d,quinary:#4bb3fd,senary:#ffc738"
    style="left:650px;width:150px;height:150px">
</lord-icon> {% endcomment %}

<h2><a href={% url 'create-project' %}>Add Project Here 👻</a></h2>
<hr>
